<!DOCTYPE html>
<html lang="en" ng-app="GmailSellsuki">
<head>
  <title>Gmail API - Sellsuki</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="css/index.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<div class="container" ng-controller="appController" >
  <div class="page-header">
    <h4>Gmail API - Sellsuki <small>v0.2.4</small></h4>
  </div>
    <div class="text-center row" ng-hide="state.isLogin">
      <button class="btn btn-danger" ng-click="checkAuth(false)">Login with Gmail</button>
    </div>
    <div class="row" ng-show="state.isLogin">
      <div class="col-md-7">
          <div class="panel panel-primary">
            <div class="panel-heading">
              Inbox
            </div>
            <div class="slimScroll">
              <table class="table">
                <tr ng-repeat="email in emails track by $index">
                  <td>
                    {{$index + 1}}. <strong>{{email.From}}</strong><br>{{email.Subject}}
                  </td>
                </tr>
                <tr ng-if="emails.length == 0">
                  <td>
                    <strong>No email in inbox.</strong>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        <div class="text-center" ng-show="state.canLoad" style="line-height:4rem;">
          <button autocomplete="off" class="btn btn-success" ng-disabled='state.loading[0]' ng-click="createInbox()">{{state.loading[1]}}</button>
        </div>
      </div>
      <div class="col-md-5" ng-controller="sendEmail">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Send Email
          </div>
          <div class="panel-body">
            <form class="form-horizontal" ng-submit="sendMail()">
              <div class="form-group">
                <label for="receiver" class="col-sm-2 control-label">To</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" placeholder="example@gmail.com" name="receiver" ng-model="email.receiver" required>
                </div>
              </div>
              <div class="form-group">
                <label for="subject" class="col-sm-2 control-label">Subject</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" placeholder="Subject" name="subject" ng-model="email.subject" required>
                </div>
              </div>
              <div class="form-group">
                <label for="subject" class="col-sm-2 control-label"></label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="5" placeholder="Input some text" ng-model="email.message" required></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-default" ng-disabled='state.sending[0]'>{{state.sending[1]}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="alert alert-success show-hide" role="alert" ng-show="state.result.show && state.result.isComplete"><b>Successful!</b> Your message was sent successfully</div>
        <div class="alert alert-danger show-hide" role="alert" ng-show="state.result.show && !state.result.isComplete"><b>Oh no!</b> Something worng while sending your email</div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script type="text/javascript">
    $(function(){
      $('.slimScroll').slimscroll({
        height: '60rem'
      });
    });
    function loadCallback(){
      angular.element(".container").scope().checkAuth(true);
    }
  </script>
  <script src="https://apis.google.com/js/client.js?onload=loadCallback"></script>
  <script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
