<!DOCTYPE html>
<html lang="en" ng-app="GmailSellsuki">
<head>
  <title>Gmail API - Sellsuki</title>
  <link rel="shortcut icon" href="img/favicon32.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css"></link>
  <link rel="stylesheet" href="css/index.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img src="img/logo-header.png">
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <p class="navbar-text navbar-right"><b>Gmail API - Sellsuki</b> v0.2.5</p>
      </div>
    </div>
  </nav>
  <div id="appCtr" class="container" ng-controller="appController" >
    <div class="text-center row" ng-hide="inbox.isLogin">
      <button class="btn btn-danger" ng-click="checkAuth(false)">Login with Gmail</button>
    </div>
    <div ng-show="inbox.isLogin">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-8">
              Inbox
            </div>
            <div class="text-right col-md-4">
              <button autocomplete="off" class="btn btn-success btn-xs text-right" ng-show="inbox.canLoad" ng-disabled='inbox.loading[0]' ng-click="createInbox()">{{inbox.loading[1]}}</button>
              <button autocomplete="off" class="btn btn-info btn-xs text-right" ng-click="sendMailModal()">Send Email</button>
            </div>
          </div>
        </div>
        <div class="containt" ng-controller="readController">
          <div class="inbox" ng-hide="isRead">
            <div class="slimScroll">
              <table class="table table-hover">
                <tbody>
                  <tr ng-click="detail(thread)" ng-repeat="thread in inboxData track by $index | orderBy: '-historyId'" style="cursor:pointer;">
                    <td ng-init="msg = thread.messages[thread.messages.length-1]">
                      <h4 class="list-group-item-heading" style="white-space: nowrap; overflow:hidden;">
                        {{msg.payload.headers.Subject}}
                        <small ng-if="thread.snippet != ''"> - <span ng-bind-html="msg.snippet"></span></small>
                      </h4>
                      <p class="list-group-item-text">
                        <span ng-if="msg.payload.headers.From.name[0] != null">{{msg.payload.headers.From.name[0]}}</span>
                        <span ng-if="msg.payload.headers.From.name[0] == null">{{msg.payload.headers.From.email[0]}}</span>
                        <span class="badge" ng-if="thread.messages.length > 1 "> {{thread.messages.length}} </span>
                      </p>
                    </td>
                  </tr>
                  <tr ng-if="inbox.loading[0]">
                    <td>
                      <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...
                    </td>
                  </tr>
                  <tr ng-if="inboxData.length == 0 && !inbox.loading[0]">
                    <td>
                      Inbox is empty.
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="readMessage" ng-show="isRead">
            <ul class="nav nav-tabs nav-justified">
              <li ng-click="getBack()" role="presentation">
                <a href="#">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Back
                </a>
              </li>
            </ul>
            <div class="slimScroll">
              <div class="panel-body">
                <span ng-show="loadingMessage"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</span>
                <div ng-hide="loadingMessage" ng-repeat="msg in htmlBody">
                  <div class="page-header">
                    <h1>{{msg.payload.From.name[0]}} <small>to {{msg.payload.To.email[0]}}</small></h1>
                  </div>
                  <span data-ng-bind-html="trustAsHtml(msg.body)"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <script src="https://code.angularjs.org/1.3.15/angular-sanitize.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(function(){
      $('.slimScroll').slimscroll({
        height: '75rem'
      });
    });
    function loadCallback(){
      angular.element("#appCtr").scope().checkAuth(true);
    }
  </script>
  <script src="https://apis.google.com/js/client.js?onload=loadCallback"></script>
  <script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.0.min.js"></script>
  <script type="text/javascript" src="js/jquery.slimscroll.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
</body>
</html>
